<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Perfil Juan Pacheco</title>
  </head>
  <header>

    <nav>

      <a class="logo" href="/index.html">Juan Pacheco</a>

      <a href="/index.html">Home</a>

      <a routerLink="/portafolio">Proyectos</a>

      <a routerLink="/experienciahabilidades">Experiencia</a>

      <a routerLink="/educacionformacion">Formación</a>

      <a routerLink="/interesespasiones">Intereses</a>

    </nav>

  </header>
  <header id="recuadro2">

    <div class="content">

      <h2>Experiencia y habilidades</h2>

    </div>

  </header>
  <div class="container">
    <section class="section1" style="display: block; margin: 10px;">
      <div class="contact-info" style="width: 450px;">
      <div class="contact-info">
    <p><b>
      FM CENTER (Inversiones Beorn, C.A) • Sistema • 01/11/2017- Actualmente
      <br>
      Cargo: Administrador de Bases de Datos
    </b></p>
    <ul>
      <li>Administración del sistema ERP JD EDWARDS 8.12</li>
      <li>Instalación de paquetes update en JD EDWARDS 8.12</li>
      <li>Programación de bases de datos en lenguaje SQL (SQL DEVELOPER)</li>
      <li>Administración y mantenimiento de servidores (Windows/Linux)</li>
      <li>Creación y administración de máquinas virtuales (VMware, virtual box)</li>
      <li>Configuración y Administración de Redes Inalámbricas</li>
      <li>Instalación y configuración de Impresoras en Red</li>
      <li>Administración de cuentas de correo electrónico corporativo</li>
      <li>Creación y administración de cuentas de red</li>
      <li>Instalación de hardware y software.</li>
      <li>Detección de fallas en los equipos informáticos de la empresa</li>
      <li> Soporte técnico a Usuarios</li>
      <li> Inventario de Equipos</li>
      <li> Ensamblaje y Configuración de Equipos</li>
      <li> Configuración de estaciones de trabajo para conexiones remotas</li>
      <li> Administración del sistema AudioVault (Radio)</li>
      <li> Configuración y Administración de Servidores para Streaming (Audio)</li>
      <li> Planificación de respaldos</li>
    </ul>
  </div>
  </div>
</section>
<section class="section2" style="display: block; margin: 10px;">
  <div class="contact-info" style="width: 450px;">
<img  style="margin-top: 40px;"src="/assets/img/fmcenter.jpg" alt="proyectos" width="500">
</div>
</section>
</div>
<footer>
  <p style="font-size: 13px; font-family: sans-serif; text-align: center; color: #9c9a9a;" >Juan Pacheco 2023</p>
</footer>
