<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Perfil Juan Pacheco</title>
  </head>
  <header>

    <nav>

      <a class="logo" href="/index.html">Juan Pacheco</a>

      <a href="/index.html">Home</a>

      <a routerLink="/portafolio">Proyectos</a>

      <a routerLink="/experienciahabilidades">Experiencia</a>

      <a routerLink="/educacionformacion">Formación</a>

      <a routerLink="/interesespasiones">Intereses</a>

    </nav>

  </header>

  <header id="recuadro2">

    <div class="content">

      <h2>Intereses y Pasiones</h2>

    </div>

  </header>
  <div class="container">
    <section class="section1" style="display: block; margin: 10px;">
      <div class="intereses">
    <p style="text-align: justify;">Como profesional en el campo de la tecnología, me apasiona aprender sobre las últimas tendencias y avances en el campo.
      Disfruto de los desafíos relacionados con la resolución de problemas técnicos y encontrar soluciones efectivas que mejoren la eficiencia de las empresas.
      También tengo habilidades en la planificación de respaldos y me apasiona garantizar la seguridad y continuidad de los datos empresariales.
      Mis habilidades en la comunicación y el trabajo en equipo me permiten brindar un soporte técnico de calidad y colaborar efectivamente con otros profesionales.
      Estoy comprometido a llevar adelante mi carrera en el campo de las TI, aplicando mis intereses y pasiones para impulsar el éxito tanto personal como organizacional.</p>
    <ul>
      <li>Estoy muy interesado en las nuevas tecnologías. Me gusta aprender sobre los últimos avances y cómo pueden utilizarse para mejorar nuestras vidas. También me gusta construir y programar cosas.</li>
      <li>En la secundaria, fui miembro del equipo de robótica y participé en varias competiciones. Aprendí mucho sobre ingeniería, programación y diseño.</li>
      <li>Dicté clases de computación a los jóvenes de la U.E Fe y Alegría Monterrey. Me encantó compartir mis conocimientos sobre tecnología con los demás y ayudar a los estudiantes a aprender y crecer.</li>
      <li>Soy un apasionado de las bases de datos. Me encanta aprender sobre cómo almacenar y recuperar datos de manera eficiente y efectiva.</li>
    </ul>
  </div>
  </section>
</div>
<footer>
  <p style="font-size: 13px; font-family: sans-serif; text-align: center; color: #9c9a9a;" >Juan Pacheco 2023</p>
</footer>
