<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/src/components/InformacionPersonal/InformacionPersonal.component.html">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Perfil Juan Pacheco</title>
  </head>
  <header>

    <nav>

      <a class="logo" href="/index.html">Juan Pacheco</a>

      <a href="/index.html">Home</a>

      <a routerLink="/portafolio">Proyectos</a>

      <a routerLink="/experienciahabilidades">Experiencia</a>

      <a routerLink="/educacionformacion">Formación</a>

      <a routerLink="/interesespasiones">Intereses</a>

    </nav>

  </header>
  <header id="recuadro2">

    <div class="content">

      <h2>Educación y Formación</h2>

    </div>

  </header>

  <div class="container">
    <section class="section1" style="display: block; margin: 10px;">
      <div class="contact-info" style="width: 450px;margin-top: 35px;">
    <ul>
      <li>Técnico Medio en comercio y Servicios Administrativos mención informática, Fe y Alegría Colegio Monterrey, 2015</li>
    </ul>
    <img  style="margin-top: 30px;margin-left: 70px;"src="/assets/img/feyalegria.png" alt="IMG FE Y ALEGRIA" width="230" height="230">
  </div>
  </section>
  <section class="section2" style="display: block; margin: 10px;">
      <div class="contact-info" style="width: 450px;margin-top: 35px;">
    <ul>
      <li>Técnico Superior Universitario en Informática, Instituto Superior Universitario de Mercadotecnia (ISUM), 2021</li>
    </ul>
    <img  style="margin-top: 70px;margin-left: 10px;"src="/assets/img/isum.jpg" alt="IMG ISUM" width="380">
  </div>
  </section>
</div>
<footer>
  <p style="font-size: 13px; font-family: sans-serif; text-align: center; color: #9c9a9a;" >Juan Pacheco 2023</p>
</footer>
