<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./InformacionPersonal.component.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Perfil Juan Pacheco</title>
  </head>
  <body class="fondo-elemento">
    <header>

    <nav>

      <a class="logo" href="/index.html">Juan Pacheco</a>

      <a href="/index.html">Home</a>

      <a routerLink="/portafolio">Proyectos</a>

      <a routerLink="/experienciahabilidades">Experiencia</a>

      <a routerLink="/educacionformacion">Formación</a>

      <a routerLink="/interesespasiones">Intereses</a>

    </nav>

  </header>

  <header id="recuadro1">

    <div class="profile">
      <img src="/assets/img/juan.png" alt="IMG Juan Pacheco">
    </div>

    <div class="text">
    <h1>Juan Javier Pacheco</h1>

    <h2>Administrador de Base de Datos</h2>

    <div class="social-icons">

      <a href="https://www.facebook.com/javierpacheco225?mibextid=ZbWKwL" target="_blank" class="social-icon facebook">
        <img src="/assets/img/facebook.png" alt="Facebook">
      </a>

      <a href="https://twitter.com/jjblink22?t=jEVOcl1X2SCvAwxVz8Ds\_Q&s=09" target="_blank" class="social-icon twitter">
        <img src="/assets/img/twitter.png" alt="Twitter">
      </a>

      <a href="https://instagram.com/javierpacheco25?utm\_source=qr&igshid=NGExMmI2YTkyZg%3D%3D" target="_blank" class="social-icon instagram">
        <img src="/assets/img/instagram.png" alt="Instagram">
      </a>

      <a href="https://www.linkedin.com/in/juanpacheco225" target="_blank" class="social-icon linkedin">
        <img src="/assets/img/linkedin.png" alt="LinkedIn">
      </a>

    </div>
  </div>

  </header>
  <header>
    <div class="container">
      <section class="section1" style="display: block; margin: 10px;">
        <div class="contact-info" style="width: 450px;">
          <h2 style="font-family: 'Montserrat',sans-serif; margin-left: 30px;">Acerca de mí</h2>
          <p style="font-family: 'Montserrat',sans-serif; text-align: justify;margin-left: 30px;">Soy un profesional con 5 años de experiencia en el campo de las tecnologías de la información y la comunicación. Tengo una sólida formación técnica y experiencia en una variedad de entornos. Soy una persona proactiva, orientada a resultados y con excelentes habilidades de comunicación y trabajo en equipo. Siempre estoy dispuesto a aprender nuevas cosas y mejorar mis habilidades.</p>
        </div>
      </section>
      <section class="section2" style="display: block; margin: 10px;">
        <div class="contact-info" style="width: 450px;">
          <h2>Información de contacto</h2>
          <ul class="items" style="list-style-type: none;">
            <li>Edad: <strong>27</strong></li>
            <li>Residencia: <strong>Venezuela</strong></li>
            <li>Dirección: <strong>Caracas, Venezuela</strong></li>
            <li>Email: <strong>javierpacheco225@gmail.com</strong></li>
            <li>Phone: <strong>+58 424-211-2476</strong></li>
          </ul>
        </div>
      </section>
    </div>
  </header>

  <footer>
    <p style="font-size: 13px; font-family: sans-serif; text-align: center; color: #9c9a9a;" >Juan Pacheco 2023</p>
  </footer>
</body>
</html>
